body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: gray;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   
.InputSection {
    /* display: flex;
    flex-direction: column; */
}
#InputField {
    outline: none;
    font-size: 18px;
    border-radius: 3px;
    height: 100px;
    display: flex;
    flex-direction: column;
    
   }
textarea {
    display: flex;
    flex-direction: column;
    border: solid gray;
    width: 400px;
}
label{
    margin-top: 20px;
}
#InputField:focus{
    border: solid rgb(81, 79, 79);
}
form button {
    background-color: grey;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100px;
}
button:hover {
background-color: rgb(91, 87, 87);
}
