body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(223, 230, 202);
}
header{
    background-color: rgb(80, 132, 60);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(63, 50, 50);
   }
.deskripsi {
    text-align: center;
  margin-top: 40px;
}
.InputSection {
    flex: 10%;
    padding-left: 30%;
}
#InputField {
    outline: none;
    font-size: 18px;
    border-radius: 3px;
    height: 100px;
    display: flex;
    flex-direction: column;
    
   }
textarea {
    display: flex;
    flex-direction: column;
    border: solid gray;
    width: 50%;
    border-radius: 10PX;
}
label{
    margin-top: 20px;
    display: flex;
}
#InputField:focus{
    border: solid rgb(81, 79, 79);
}
button {
    background-color: grey;
    color: white;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100px;
    
}
button:hover {
background-color: rgb(91, 87, 87);
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    border: 3px solid #034924;
    background-color: rgb(80, 132, 60);
  }

